.projectsSection h2 {
  padding: 0;
  /* margin-top: 2rem; */
  letter-spacing: 13px;
}

.projectsSection img {
  width: 3rem;
}

.projectsSection span {
  text-align: start;
}
.wrapper {
  margin: 7rem 0;
}

.projectsBottom h2{
  margin-top: 1.5rem;

}