.projectsSection h2 {
  letter-spacing: 5px;
}

.projectsSection span {
  text-align: start;
}

.wrapper {
  margin: 7rem 0;
}

.projectsSection button,
.projectsSection button:active,
.projectsSection button:focus {
  all: unset;
  width: 100%;
  cursor: pointer;
}

.gitHubButtonSmallScreen {
  display: none;
}
@media only screen and (max-width: 431px) {
  .gitHubButtonLargeScreen {
    display: none;
  }
  .gitHubButtonSmallScreen {
    display: inherit;
  }

  .gitHubButtonSmallScreen h2,
  .gitHubButtonSmallScreen span {
    font-size: 0.9rem;
    line-height: 1;
  }
}
