.quarterCircleTopRight {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: #112d4e;

  border-radius: 0 0 0 100px;
  -moz-border-radius: 0 0 0 100px;
  -webkit-border-radius: 0 0 0 100px;
  transition: width 0.25s ease-in, height 0.25s ease-in,
    border-radius 0.25s ease-in;
  overflow: hidden;
}

.hamburger {
  height: 1.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  gap: 7px;
  cursor: pointer;
}

.hamburgerLine {
  background-color: #f9f7f7;
  width: 1.3rem;
  height: 2px;
  border-radius: 25px;
}

.menuButtons {
  color: #f9f7f7;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  right: 4.5rem;
  top: 2.5rem;
}

.open {
  width: 400px;
  height: 400px;
  background: #112d4e;
  border-left: 1.5px solid #f9f7f7;
  border-bottom: 1.5px solid #f9f7f7;
  border-radius: 0 0 0 400px;
  -moz-border-radius: 0 0 0 400px;
  -webkit-border-radius: 0 0 0 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  overflow: hidden;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
  z-index: 1;
}
