.quarterCircleTopRight {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: #112d4e;
  border-left: 1.5px solid transparent;
  border-bottom: 1.5px solid transparent;
  border-radius: 0 0 0 100px;
  -moz-border-radius: 0 0 0 100px;
  -webkit-border-radius: 0 0 0 100px;
  z-index: 1;
  overflow: hidden;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.2s;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.hamburger {
  height: 1.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  gap: 7px;
  cursor: pointer;
}

.hamburgerLine {
  position: relative;
  background-color: #f9f7f7;
  width: 1.3rem;
  height: 2px;
  border-radius: 25px;
}

.notClicked:nth-of-type(1) {
  transform: rotate(0) translateY(0);
  transition: transform 0.2s linear, bottom 0.2s ease-in;
}

.notClicked:nth-of-type(2) {
  opacity: 1;
  transition: opacity 0.1s linear, transform 0.2s linear;
}

.notClicked:nth-of-type(3) {
  transform: rotate(0) translateY(0);
  transition: transform 0.2s linear;
}

.clicked:nth-of-type(1) {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  transition: transform 0.2s linear;
}

.clicked:nth-of-type(2) {
  opacity: 0;
  transform: translateX(-3px);
  transition: opacity 0.1s linear, transform 0.2s linear;
}

.clicked:nth-of-type(3) {
  transform: rotate(45deg) translateY(-6px) translateX(-6px);
  transition: transform 0.2s linear;
}

.menuButtons {
  color: #f9f7f7;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  right: 4.5rem;
  top: 2.5rem;
  opacity: 0;
}

.open {
  width: 400px;
  height: 400px;
  border-left: 1.5px solid #f9f7f7;
  border-bottom: 1.5px solid #f9f7f7;
  border-radius: 0 0 0 400px;
  -moz-border-radius: 0 0 0 400px;
  -webkit-border-radius: 0 0 0 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  overflow: hidden;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out,
    border-left 0.25s ease-in, border-bottom 0.25s ease-in,
    border-radius 0.1s linear, -webkit-border-radius 0.1s linear,
    -moz-border-radius 0.1s linear;
}

.notOpen {
  transition: width 0.25s ease-in, height 0.25s ease-in,
    border-left 0.25s ease-in, border-bottom 0.25s ease-in,
    border-radius 0.5s linear, -webkit-border-radius 0.5s linear,
    -moz-border-radius 0.5s linear;
}

.slideIn {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s,
    ease-in-out opacity, 0.7s ease-in-out;
  transition-delay: 250ms;
}

.slideOut {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}
