.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10rem;
}
#header,
img {
  width: 4rem;
}

.menuButtons {
  display: flex;
  gap: 2rem;
}
