.roundedRectangle {
  padding: 0 2rem;
  margin: 0 auto;
  width: 35rem;
  height: 7rem;
  background-color: #112d4e;
  color: #dbe2ef;
  border-radius: 25px;
  border: 5px solid #dbe2ef;
  position: relative;
  top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.roundedRectangle h2 {
  font-size: 2rem;
  letter-spacing: 0;
}

.roundedRectangle img {
  width: 4rem;
}

.icons {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icons img {
  cursor: pointer;
  transition: width 0.2s ease;
}

.icons a:hover img,
.icons a {
  width: 3.7rem;
}

footer {
  width: 100%;
  background-color: #112d4e;
  letter-spacing: 0.5px;
}

.container {
  width: 50rem;
  margin: 6rem auto 0;
  text-align: justify;
  display: flex;
  gap: 7.3rem;
  color: #dbe2ef;
}

.about {
  width: 16.666rem;
  line-height: 1.6;
}

.heading {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heading img {
  padding: 0.5rem 0;
  width: 1.5rem;
  height: 1.5rem;
}

.avatar {
  margin: 0;
  padding: 0 !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 100px;
}

.projectsAndContact {
  width: 24rem;
  text-align: start;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}

.projects,
.socials {
  width: 10rem;
}

.footerItem {
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.itemHeading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.itemHeading img {
  width: 0.7rem;
  height: 0.7rem;
}

.footerItemHeading {
  font-family: "Playfair Display SC", serif;
  font-size: 0.8rem;
}

.footerItemHeading::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid;
  transition: border-color 0.15s ease;
  border-color: transparent;
}

.footerItemHeading:hover::after {
  border-color: #3f72af;
}

.footerItemText {
  font-size: 0.7rem;
}

.copyrights {
  padding: 4rem 0 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.6rem;
}

.icons img {
  cursor: pointer;
}

.projectsAndContactSmall {
  display: none;
}

@media only screen and (max-width: 769px) {
  .container {
    width: 100%;
    margin: inherit 0;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .about,
  .projectsAndContact,
  .roundedRectangle {
    width: 30rem;
  }

  .projectsAndContact {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 431px) {
  .footer {
    width: 100%;
  }

  .container,
  .about,
  .projectsAndContact {
    width: 18rem;
  }

  .projectsAndContact {
    justify-content: center;
    gap: 1.5rem;
  }

  .roundedRectangle {
    width: 17rem;
    padding: 0 1rem !important;
  }

  .roundedRectangle img {
    width: 3.5rem;
  }

  .roundedRectangle h2 {
    font-size: 1.5rem;
  }

  .icons {
    gap: 0;
  }

  .projects,
  .socials {
    overflow: hidden;
    max-height: 2rem;
  }

  .projects .heading,
  .socials .heading {
    cursor: pointer;
    gap: 0.5rem;
  }

  .heading span {
    content: "";
    background-color: transparent;
    border-left: 7px solid #f9f7f7;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }

  .clicked span {
    transform: rotate(90deg);
  }

  .projectsAndContactSmall {
    display: inherit;
  }

  .projectsAndContactLarge {
    display: none;
  }

  .collapsable {
    max-height: 100%;
  }

  .unCollapsable {
    max-height: 2rem;
  }
}
