.aboutMe h2 {
  letter-spacing: 5px;
}

.aboutText {
  margin: 7rem auto;
  width: 35rem;
  text-align: justify;
  white-space: pre-wrap;
  line-height: 1.6;
}

.aboutText p {
  padding-bottom: 0.5rem;
}

.aboutMe button {
  all: unset;
  width: 100%;
  cursor: pointer;
}
.slideIn {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out,
    opacity 0.7s ease-in-out;
  transition-delay: 250ms;
}

.slideOut {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0.015;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

@media only screen and (max-width: 769px) {
  .aboutText {
    width: 30rem;
  }
}
