.heyThere {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10rem;
}
.heyThere img {
  width: 10rem;
  outline: 6px solid #3F72AF;
  border: 3px solid #F9F7F7;
  border-radius: 100%;
}
.heyThere img {
  margin: 0 auto;
}

.heyThere p {
  margin: 0;
}
