.heyThere {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10rem;
}
.heyThere img {
  width: 10rem;
  border-radius: 100px;
}
.heyThere img {
  margin: 0 auto;
}

.heyThere p {
  margin: 0;
}
