.techStackSection {
  width: 100%;
}
.techStack {
  width: 20rem;
  margin-bottom: -7rem;
}

.rectangle {
  position: relative;
  bottom: 5rem;
}

h2 {
  letter-spacing: 15px;
  padding-bottom: 0.3rem !important;
}

.roundedRectangle {
  margin: 0 auto;
  width: 35rem;
  padding: 0 2rem;
  height: 7rem;
  background-color: #f9f7f7;
  color: #3f72af;
  border-radius: 25px;
  border: 5px solid #dbe2ef;
  position: relative;
  bottom: 3.5rem;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.5rem;
  gap: 0.5rem;
  overflow: hidden;

}

.icons {
  /* position: absolute; */
  /* top: 0; */
  /* left: -100px; */
  position: relative;
  top: 0;
  left: -100%;
  animation: moving 1s linear infinite;
}

.icon {

  width: 3rem;
  height: 3rem;
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}