.roundedRectangle {
  background-color: #f9f7f7 !important;
  margin: 0 auto;
  width: 39rem;
  height: 6rem;
  border-radius: 25px;
  border: 3px solid #f9f7f7;
  box-shadow: 0 0 0 5px #dbe2ef;
  -webkit-box-shadow: 0 0 0 5px #dbe2ef;
  position: relative;
  bottom: 3rem;
}

.techStackSection {
  width: 100%;
}

.techStack {
  width: 20rem;
  margin-bottom: -9rem;
}

.techStackSection h2 {
  letter-spacing: 10px;
  padding: 0;
  margin-bottom: 1.5rem;
}

.container {
  width: 39rem;
  margin: 1.25rem 0 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.5rem;
  position: relative;
  overflow: hidden;
}

.iconBoxRight {
  display: flex;
  animation: run 30s linear infinite;
}

.iconBoxLeft {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 4.7rem;
  left: -100%;
  animation: run2 30s linear 15s infinite;
}

.icon {
  width: 3rem;
  height: 3rem;
}

@keyframes run {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes run2 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@media only screen and (max-width: 769px) {
  .container,
  .roundedRectangle {
    width: 30rem;
  }

  .icon {
    width: 2.7rem;
  }
}

@media only screen and (max-width: 431px) {
  .container,
  .roundedRectangle {
    width: 15rem;
  }

  .iconBoxRight {
    animation: run 30s linear infinite;
  }

  .iconBoxLeft {
    left: -200%;
    animation: run2 30s linear 15s infinite;
  }

  @keyframes run {
    0% {
      transform: translateX(-200%);
    }

    100% {
      transform: translateX(190%);
    }
  }

  @keyframes run2 {
    0% {
      left: -200%;
    }
    100% {
      left: 190%;
    }
  }
}
