.roundedRectangle {
  padding: 0 1rem;
  margin: 0 auto;
  width: 30rem;
  height: 5rem;
  background-color: #f9f7f7;
  border-radius: 25px;
  border: 5px solid #dbe2ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.roundedRectanglePlaceTop {
  position: relative;
  bottom: 2.5rem;
}

.roundedRectanglePlaceBottom {
  position: relative;
  top: 2.5rem;
}

.subContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.subContent span {
  font-size: 1.3rem;
  letter-spacing: 12px;
}
